/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  position:fixed;
  top:0; bottom:0; left:0;
  width:300px;
  background:#000;
}

.joke_function {
  font-size: 35px;
  text-align: center;
  margin: 50px 5px 210px 5px;
  font-family: arial;
  color: yellow;
}

.navbar_buttons {
  margin: 16px;
  font-size: 30px;
  font-family: arial;
  background-color: yellow;
  color: black;
  width: 260px;
}

#content {
  margin-left: 500px;
}

body .modal-title {
  font-size: 30px;
}

body .modal-body {
  height: 150px;
}

body .modal-body input {
  font-size: 30px;
  height: 60px;

  &#joke_image {
    line-height: 0px;
    padding-top: 10px;
  }
}

.btn-default {
  font-size: 30px;
}
