<div id="no_joke_header">
  <p class="no_more_joke">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You voted all the jokes</p>
</div>

<div class="laughing_face">
  <%= image_tag "laughing_face.png" %>
</div>

<p class="no_more_joke">Make someone laugh by submitting one</p>